body {
  margin: 0;
  padding: 0;
  background: #F1F1F1;
}

.main_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_container .main_navbar {
  width: 90%;
  height: 100px;
  display: flex;
  color: white;
}
.main_container .main_navbar .home-nav-logo {
  background: #154155;
  margin-right: 5;
  height: 100px;
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  padding-left: 20px;
}
.main_container .main_navbar .home-nav-logo span {
  color: white;
  font-size: 20px;
}
.main_container .main_navbar .home-nav-logo .nav-menu {
  display: flex;
}
.main_container .main_navbar .home-nav-logo .nav-menu .menu-item {
  margin: 5px;
  margin-bottom: 0px;
}
.main_container .main_navbar .search-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  background: #154155;
}
.main_container .main_navbar .search-element .search-box-container {
  height: 50%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.main_container .main_navbar .search-element .search-box-container .search-form {
  display: flex;
  width: 100%;
  height: 70%;
  border-radius: 5px;
}
.main_container .main_navbar .search-element .search-box-container .search-form input {
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main_container .main_navbar .search-element .search-box-container .search-form .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: #FBEE00;
  width: 40px;
  margin-top: 1px;
  margin-left: 1px;
}
.main_container .home-selector-slider {
  width: 90%;
  height: auto;
  margin-top: 1px;
  display: flex;
  overflow: hidden;
  height: 400px;
}
.main_container .home-selector-slider .home-selector {
  width: 25%;
  background: #154155;
  color: white;
  margin-right: 2px;
}
.main_container .home-selector-slider .home-slider {
  width: 75%;
  background: black;
  overflow: hidden;
}
.main_container .home-selector-slider .home-slider .dotclass {
  background: red;
}
.main_container .home-product-list {
  width: 90%;
}
.main_container .home-product-list .product-list-header {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  margin: 0px;
}
.main_container .home-product-list .product-list-header h1 {
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;
}
.main_container .home-product-list .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_container .home-product-list .product-list .product-card {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.main_container .home-product-list .product-list .product-card img {
  width: 225px;
  height: 150px;
}
.main_container .home-product-list .product-list .product-card span {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}
.main_container .main-footer {
  height: 50px;
  margin-top: 20px;
  width: 90%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #154155;
}
.main_container .main-footer span {
  margin: 10px;
}

/*# sourceMappingURL=index.css.map */
