
.home-product-list {
  width: 100%;
  margin-bottom: 30px;
  // background: red;
  .product-list-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin: 0px;
    h2 {
      margin-bottom: 20px;
      padding: 0px;
      margin-top: 0;
      font-size: 24px;

    }
  }
  .bp3-tabs{
    .bp3-tab-list{
      .bp3-tab-indicator-wrapper{
        height: 45px;
      }
      .bp3-tab{
        margin-top: 12px;
        margin-bottom: 20px;
        font-size: 19px;
        font-weight: 600;
      }
    }
  }

@import './horizontol-scroller.scss';
}

@media only screen and (max-width: 600px) {
  .home-product-list {
    width: 98%;
  }
}