.home-product-list {
  width: 90%;
  .product-list-header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin: 0px;
    h1 {
      margin: 0px;
      padding: 0px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 40vh;
    .product-card {
      width: 250px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      img {
        width: 225px;
        height: 150px;
      }
      span {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
      }
    }
  }
}