.home-product-list {
  width: 90%;
  margin-top: 10px;
  // background: red;
  .product-list-header {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin: 0px;
    h2 {
      margin: 0px;
      padding: 0px;
      margin-left: 15px;
    }
  }

  .product-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 300px;
    .product-card {
      width: 20%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px;
      img {
        width: 150px;
        height: 150px;
      }
      span {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5px;
      }
    }
  }
}