.home-product-list {
  width: 90%;
  margin-top: 10px;
  // background: red;
  .product-list-header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin: 0px;
    h2 {
      margin: 0px;
      padding: 0px;

    }
  }

  .product-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 260px;
    .product-card {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px;
      img {
        margin: 5px;
        width: 100%;
      }
      span {
        font-size: 15px;
        margin-top: 5px;

      }
    }
  }
}