@use '../config/config';

.main_navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white !important;
  margin: 0;
  padding: 0;
  background: none;
  position: fixed;
  transition: 0.5s;
  &.active{
    background: #0888c5;
    box-shadow: 0 2px 7px #3c8bb1;
    .search-element{
      .login-registration{
        .sell-link{
          background-color: #fff;
          color: #333;
        }
      }
    }
  }
  .home-nav-logo {
    color: #fff;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: flex-end;
    justify-content: start;
      span {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
      }
      .nav-menu {
        display: flex;
          margin-right: 30px;
          .menu-item:hover {
            span {
              color: 'white';
            }
          }
        .menu-item:hover {
          span {
            color:#c0e9fc;
            cursor: pointer;
          }
        }
  }
  }

  .search-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    .main-logo {
      display: flex;
      .sell-and-logo {
        display: flex;
        .logo-link {
          
          img {
            max-width: 140px;
            width: 100%;
          }
        }
        .sell-button {
          display: none;
        }
      }
      .main-drawer {
        display: none;
      }
    }
    .search-box-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 10px;
      .search-form {
        display: flex;
        width: 100%;
        max-width: 365px;
        border-radius: 5px;
        position: relative;
        margin-top: 2px;
        .react-search-box-dropdown{
          background-color: #fff;
          border-radius: 7px;
          position: absolute;
          width: 100%;
          ul{
            padding: 0;
            margin: 0;
            li{
              padding: 15px 22px;
              border-bottom: 1px solid #ccc;
              list-style: none;
              cursor: pointer;
              &:hover{
                background-color: #eee;
              }
              &:first-child{
                border-radius: 7px 7px 0 0;
              }
            }
          }
        }
        input {
          width: 100%;
          border-radius: 30px;
          background: none;
          border:1px solid #ccc;
          color: #fff;
          height: 40px;
          padding: 0 15px;
          outline: none;
          &::-webkit-input-placeholder { /* Edge */
            color: #fff;
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
          }
          
          &::placeholder {
            color: #fff;
          }
        }
       .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 50px;
        height: 38px;
        margin-top: 1px;
        margin-left: 0px;
        position: absolute;
        z-index: 10;
        right: 0;
        cursor: pointer;
       }
      }
    }

    .login-registration {
      width: 30%;
      height: 100%;
      display: flex;
      color: black;
      // cursor: pointer;
      margin-right: 20px;
      justify-content: flex-end;
      align-items: center;
      .sell-link{
        background-color: #ff794c;
        color: #fff;
        text-transform: uppercase;
        padding: 8px 30px;
        display: inline-block;
        border-radius: 30px;
        &:hover{
          text-decoration: none;
        }
        div{
          display: flex;
          span {
            font-size: 17px;
            margin-left: 5px;
          }
        }
      }
      
    }
  }
}

.main-menu-popover-content {
  // background: chartreuse;
  margin-top: 1px;
  .menu-item {
    width: 250px;
    .menu-item-element {
      // height: 40px;
      padding: 15px 15px;
      span {
        font-size: 15px;
      }
    }
    .menu-item-element:hover {
      background: #0888c5;
      cursor: pointer;
      color: #fff;
    }
    .bottom-border {
      height: 1px;
      background: #f5f5f5;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main_navbar {
    position: sticky;
    .home-nav-logo {
      display: none;
    }

   .search-element {
     display: inline;
     position: relative;
     width: 100%;

     .login-registration {
       display: none;
     }
     .search-box-container{
       width: 100%;
       margin-top: 15px;
       margin-bottom: 5px;
       justify-content: center;
       .search-form {
        width: 98%;
       }
     }

     .main-logo {
       margin-left: 0px;
        .sell-and-logo {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .logo-link {
            height: 50px;
            width: 50px;
            display: flex;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .sell-button {
            margin: 10px;
            cursor: pointer;
            border-radius: 5px;
            background: #ff4202;
            color: white;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
       .main-drawer {
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
      }
     }
   }
  }
}