@use '../config/config';

.main_navbar {
  position: fixed;
  top: 0;
  z-index: 24;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  padding: 0;
  .home-nav-logo {
    background: white;
    color: black;
    // background: chartreuse;
    margin-right: 5;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding-left: 20px;
      span {
        color: black;
        font-size: 20px;
      }
      .nav-menu {
        display: flex;
          // background: chartreuse;
          margin-right: 20px;
          .menu-item:hover {
            span {
              color: 'white';
            }
          }
        .menu-item:hover {
          span {
            color:#ff4202;
            cursor: pointer;
          }
        }
  }
  }

  .search-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background: white;
    // background: red;

    .search-box-container {
      height: 80%;
      width: 70%;
      // background: yellow;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 10px;
      .search-form {
        display: flex;
        width: 40%;
        height: 70%;
        border-radius: 5px;
        input {
          width: 100%;
          border-radius: 5px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          background: #f5f5f5;
        }
       .search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background: black;
        width: 40px;
        margin-top: 1px;
        margin-left: 0px;
       }
      }
    }

    .login-registration {
      width: 30%;
      height: 100%;
      display: flex;
      color: black;
      cursor: pointer;
      margin-right: 20px;;
      justify-content: flex-end;
      align-items: center;
      span {
        font-size: 20px;
        margin-left: 5px;
      }
    }
  }
}
.main-menu-popover-content {
  // background: chartreuse;
  margin-top: 1px;
  .menu-item {
    width: 250px;
    .menu-item-element {
      height: 40px;
      padding: 10px;
      span {
        font-size: 15px;
      }
    }
    .menu-item-element:hover {
      background: #f5f5f5;
      cursor: pointer;
    }
    .bottom-border {
      height: 1px;
      background: #f5f5f5;
      width: 100%;
    }
  }
  @keyframes slideDown {
    from { height: 31px; }
    to { height: 075%; }
  }
}