@use '../config/config';

.main-footer {
  height: 50px;
  margin-top: 20px;
  width: 90%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: config.$primary_color;

  span {
    margin: 10px;
  }
}