@use '../config/config';

.main_product_details {
  width: 100%;
  // background: yellow;
  .main-product-details-sidebar {

    @import './productDetail.scss';

    @import './propductDetailsMenu.scss';

    @import './side-menu.scss';
  }

  @import './query_button.scss';
}
@import './offer.scss';

 @media only screen and (max-width: 600px) {
   .main_product_details {
    margin-top: 0px;
    .main-product-details-sidebar {
      width: 98%;
    }
   }
 }