.social-uni{
    svg{
        font-size: 22px;
        margin: 0 7px;
    }
    .facebook{
        fill: #3b5998;
    }
    .twitter{
        fill: #55acee;
    }
    .instagram{
        fill: #bb394b;
    }
}